<b><%= post.title %></b>
<div class="content" style="background-color: #EEEEEE;">
  <%= truncate post.content %>
</div>

<%= link_to "Reply", new_post_path(parent_id: post.id) %>
<% if current_user && ( current_user.id == post.user_id ) %>
	<%= link_to "Edit", edit_post_path(post) %>
	<%= link_to "Delete", post, method: :delete, confirm: 'Are you sure?' %>
<% end %>
<ul>
  <% post.replies.each do |reply| %>
    <li>
      <%= render reply %>
    </li>
  <% end %>
</ul>