<!DOCTYPE html>
<html>
<head>
  <title>Final</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="/images/logo.jpg" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/reservations">Calendar/Events</a></li>
        <li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
        <li class="nav-link more"><a href="javascript:void(0)">More</a>
          <ul class="submenu">
            <li><a href="/posts">Posts</a></li>            
            <li><a href="/rooms">Rooms</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
        <form role="search">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
      </div>
      <% if user_signed_in? %>
      	<a href="/users/sign_out" class="sign-up">Logout</a>
      	<a href="/users/edit" class="sign-up">Edit Profile</a>      	
      <% else %>
      	<a href="/users/sign_up" class="sign-up">Sign Up</a>
      	<a href="/users/sign_in" class="sign-up">Log In</a>
      <% end %>
    </div>
  </div>
</header>

<% if user_signed_in? %>
  Welcome, <strong><%= current_user.name %></strong>
<% end %>

<%= yield %>

</body>
</html>
