<!DOCTYPE html>
<html>
<head>
  <title>Final</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/reservations">Calendar/Events</a></li>
        <li class="nav-link"><a href="/about_us">About Us</a></li>
        <li class="nav-link"><a href="contact">Contact</a></li>
        <li class="nav-link more"><a href="javascript:void(0)">More</a>
          <ul class="submenu">
            <li><a href="/posts">Posts</a></li>            
            <li><a href="/rooms">Rooms</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
        <form role="search">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
      </div>
      <% if user_signed_in? %>
      	<a rel="nofollow" data-method="delete" href="/users/sign_out" class="sign-up">Logout</a>
      	<a href="/users/edit" class="sign-up">Edit Profile</a>      	
      <% else %>
      	<a href="/users/sign_up" class="sign-up">Sign Up</a>
      	<a href="/users/sign_in" class="sign-up">Log In</a>
      <% end %>
    </div>
  </div>
</header>

<div class="user-info">
  <% if user_signed_in? %>
    Welcome, <strong><%= current_user.name %></strong>
    <!-- <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> -->
  <% end %>
</div>

<%= yield %>

<!--<div class="wrapper-for-content-outside-of-footer">
   Uncomment this whole section for a sticky footer. The content of the page should be inside of this .wrapper-for-content-outside-of-footer
</div>-->

<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
    <ul>
      <li><a href="/about_us">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/reservations">Calendar/Events</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="/terms_and_conditions">Terms and Conditions</a></li>
        <li><a href="/privacy_policy">Privacy Policy</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
        </a></li>
      </ul>
    </div>
</footer>


</body>
</html>
